version: 2
updates:
  - package-ecosystem: npm
    directory: "/frontend"
    schedule:
      interval: weekly
      time: "04:00"
    open-pull-requests-limit: 10
    groups:
      angular:
        applies-to: version-updates
        patterns:
          - "@angular/*"
          - "@angular-devkit/*"
          - "zone.js"
          - "rxjs"
          - "tslib"
        update-types:
        - "major"
        - "minor"
        - "patch"
      typescript-eslint:
        applies-to: version-updates
        patterns:
        - "@typescript-eslint*"
        update-types:
        - "major"
        - "minor"
        - "patch"
  - package-ecosystem: maven
    directory: "/backend"
    schedule:
      interval: weekly
      time: "04:00"
    open-pull-requests-limit: 10
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      time: "04:00"
    open-pull-requests-limit: 10
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: weekly
      time: "04:00"
    open-pull-requests-limit: 10
