@font-face {
  font-family: 'Montserrat Light';
  src: url('Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat Thin';
  src: url('Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'Montserrat Black';
  src: url('Montserrat-Black.ttf');
}
