@if (this.isError) {
  <p i18n="@@error.filterLoad">
    Fehler beim Laden der Filterkriterien. Bitte versuchen sie es später
    nochmal.
  </p>
} @else if (!this.isLoadingMasterdata) {
  <div class="filter-presets">
    <span class="filter-presets__label" i18n="@@filter.popularFilters"
      >Beliebte Filter:</span
    >
    <mat-chip-set>
      @for (preset of KURSART_PRESETS; track preset.label) {
        @if (activePreset !== preset) {
          <mat-chip (click)="applyPreset(preset)">{{ preset.label }}</mat-chip>
        }
      }
      @if (activePreset !== 'weitere') {
        <mat-chip (click)="applyPreset('weitere')" i18n="@@filter.moreOffers"
          >weitere Angebote</mat-chip
        >
      }
    </mat-chip-set>
    <div class="filter-presets__actions">
      <button
        mat-stroked-button
        (click)="openFilterModal()"
        [matBadge]="activeModalFilterCount"
        [matBadgeHidden]="activeModalFilterCount === 0"
        matBadgeColor="primary">
        <mat-icon>tune</mat-icon>
        <span i18n="@@filter.moreFilters">Weitere Filter</span>
      </button>
      <button
        mat-stroked-button
        [disabled]="!hasActiveFilter"
        (click)="resetFilter()">
        <mat-icon>filter_alt_off</mat-icon>
        <span i18n="@@filter.reset">Filter zurücksetzen</span>
      </button>
    </div>
  </div>
}

@if (this.isLoadingMasterdata || this.isLoading) {
  <mat-spinner></mat-spinner>
}

@if (this.isError) {
  <p i18n="@@error.eventLoad">
    Fehler beim Laden der Anlässe und/oder Kurse. Bitte versuchen sie es später
    nochmal.
  </p>
} @else if (!this.isLoading) {
  <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@table.name">
        Name
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ element.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          {{ element.description }}
        </mat-expansion-panel>
      </td>
    </ng-container>

    <ng-container matColumnDef="startsAt">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        i18n="@@table.startDate">
        Startdatum
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.startsAt | eventDateTimeFormatter }}
      </td>
    </ng-container>

    <ng-container matColumnDef="finishAt">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        i18n="@@table.endDate">
        Enddatum
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.finishAt | eventDateTimeFormatter }}
      </td>
    </ng-container>

    <ng-container matColumnDef="group">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        i18n="@@table.organisation">
        Organisation
      </th>
      <td mat-cell *matCellDef="let element">{{ element.group }}</td>
    </ng-container>

    <ng-container matColumnDef="freeSeats">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        i18n="@@table.freeSeats">
        Freie Plätze
      </th>
      <td mat-cell *matCellDef="let element">
        {{ this.hasFreeSeats(element) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="applicationOpen">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        i18n="@@table.applicationOpen">
        Offen zur Anmeldung
      </th>
      <td mat-cell *matCellDef="let element">
        {{ this.isApplicationOpen(element) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef i18n="@@table.cevidb">Cevi.db</th>
      <td mat-cell *matCellDef="let element">
        <a [href]="element.applicationLink" target="_blank" i18n="@@table.open"
          >Öffnen</a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <p></p>
  <mat-paginator
    style="margin-bottom: 1em"
    [pageSizeOptions]="[10, 20, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>
}
