@if (this.isError) {
  <p>
    Fehler beim Laden der Filterkriterien. Bitte versuchen sie es später
    nochmal.
  </p>
} @else if (!this.isLoadingMasterdata) {
  Filter:
  <mat-form-field>
    <mat-label>Organisation</mat-label>
    <mat-select multiple [formControl]="this.organisationFilter">
      <app-select-check-all
        [model]="this.organisationFilter"
        [values]="this.organisations"></app-select-check-all>
      @for (organisation of organisations; track organisation) {
        <mat-option [value]="organisation">{{ organisation }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Typ</mat-label>
    <mat-select
      (selectionChange)="filterByEventType($event)"
      [value]="this.filter.eventType">
      <mat-option [value]="null">Alle</mat-option>
      @for (type of types; track type) {
        <mat-option [value]="type">{{
          this.translateEventTypes(type)
        }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Text im Name</mat-label>
    <input type="text" [formControl]="this.nameFilter" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Kursart</mat-label>
    <mat-select
      (selectionChange)="filterByKursart($event)"
      [value]="this.filter.kursart">
      <mat-option [value]="null">Alle</mat-option>
      @for (kursart of kursarten; track kursart) {
        <mat-option [value]="kursart">{{ kursart }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Freie Plätze</mat-label>
    <mat-select
      (selectionChange)="filterByAvailablePlaces($event)"
      [value]="this.filter.hasAvailablePlaces">
      <mat-option [value]="null">Alle</mat-option>
      <mat-option [value]="true">Ja</mat-option>
      <mat-option [value]="false">Nein</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Offen zur Anmeldung</mat-label>
    <mat-select
      (selectionChange)="filterByIsApplicationOpen($event)"
      [value]="this.filter.isApplicationOpen">
      <mat-option [value]="null">Alle</mat-option>
      <mat-option [value]="true">Ja</mat-option>
      <mat-option [value]="false">Nein</mat-option>
    </mat-select>
  </mat-form-field>
}

@if (this.isLoadingMasterdata || this.isLoading) {
  <mat-spinner></mat-spinner>
}

@if (this.isError) {
  <p>
    Fehler beim Laden der Anlässe und/oder Kurse. Bitte versuchen sie es später
    nochmal.
  </p>
} @else if (!this.isLoading) {
  <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ element.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          {{element.description}}
        </mat-expansion-panel>
      </td>
    </ng-container>

    <ng-container matColumnDef="startsAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Startdatum</th>
      <td mat-cell *matCellDef="let element">
        {{ element.startsAt | eventDateTimeFormatter }}
      </td>
    </ng-container>

    <ng-container matColumnDef="finishAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Enddatum</th>
      <td mat-cell *matCellDef="let element">
        {{ element.finishAt | eventDateTimeFormatter }}
      </td>
    </ng-container>

    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Organisation</th>
      <td mat-cell *matCellDef="let element">{{ element.group }}</td>
    </ng-container>

    <ng-container matColumnDef="freeSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Freie Plätze</th>
      <td mat-cell *matCellDef="let element">
        {{ this.hasFreeSeats(element) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="applicationOpen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Offen zur Anmeldung
      </th>
      <td mat-cell *matCellDef="let element">
        {{ this.isApplicationOpen(element) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Cevi.db</th>
      <td mat-cell *matCellDef="let element">
        <a [href]="element.applicationLink" target="_blank">Öffnen</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <p></p>
  <mat-paginator
    style="margin-bottom: 1em"
    [pageSizeOptions]="[10, 20, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>
}
