.filter-modal {
  &__row {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
  }

  &__label {
    width: 160px;
    flex-shrink: 0;
    font-weight: 500;
  }

  &__field {
    flex: 1;
  }
}
