.container {
    max-width: 60rem;
    padding: 0 1rem;
    margin: 1rem auto 2rem;
}

/* for bigger screens */
@media (min-width: 768px) {
    .container {
        margin: 3rem auto 6rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.cevi_logo {
    width: 200px;
    max-width: 20rem;
    margin: 0 auto;
    height: auto;
}

/* for bigger screens */
@media (min-width: 768px) {
    .cevi_logo {
        width: 600px;
        max-width: 20rem;
        margin: 0 auto;
        height: auto;
    }
}

.page_header {
    margin: 1rem auto;
    max-width: 20rem;
    text-align: center;
}

/* for bigger screens */
@media (min-width: 768px) {
    .page_header {
        margin: 3rem auto;
        max-width: 20rem;
        text-align: center;
    }
}