@use 'app/core/fonts/Montserrat';
$main-font: 'Montserrat Light';
$text-size-normal: 14px;

html,
body {
  font-family: $main-font;
  font-size: $text-size-normal;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  background-color: whitesmoke;
}

.no-margin {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat Bold', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

p,
span,
label {
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: 400;
}

span {
  font-weight: 200;
}

// this is required to make the select all option selectable over the whole width
.app-select-check-all,
.app-select-check-all .mdc-form-field,
.app-select-check-all label {
  width: 100% !important;
}
